@use './layout/header';
@use './pages/SignUp';
@use './pages/LogIn';
@use './layout/footer';
@use './pages/About';
@use './pages//Contact';
@use './pages/NotFound.scss';
@use './layout/HeroSection';
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.app{
    height: 100vh;
}

