@use '../utils/variable'as *;
@use '../utils/mixin'as *;
.mainLogIn{
    margin:100px 0;
    display:flex;
    align-items:center;
    min-height: 100vh;
    .img{ 
        img{
            height:701px;
            // width: 805px;
        }
    }
    .logInAccount{
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        p{
            font-size: 15px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            #btn{
                @include btnGlobal($primary_color,0px 48px,white);
            }
            #forget{
                @include btnGlobal(white,10px 0,$primary_color);
                border: 0;
                box-shadow: none;
                
            }
        }
    }
}




@media (max-width: 1024px) {
  .mainLogIn {
    flex-direction: column;
    height: auto;
  }

  .img {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .logInAccount {
    width: 100%;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
.mainLogIn{
    
    .img{ 
        img{
display: none;
        }
    }
}
}

@media (max-width: 575.98px) {
.mainLogIn{
    
    .img{ 
        img{
display: none;
        }
    }
}
}


