@use '../utils/variable'as *;
@use '../utils/mixin'as *;
.mainSignUp{
    margin:100px 0;
    display:flex;
    align-items:center;
    height: 100vh;
    .img{
        img{
            height:701px;
            // width: 805px;
        }
    }
    .createAccount{
        display: flex;
        flex-direction: column;

        margin: 0 auto;
        p{
            font-size: 15px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            #btn{
                @include btnGlobal($primary_color,10px 0,white);
            }
            #btnGoogle{
                @include btnGlobal(white,10px 0,black);
                img{
                    margin-right: 5px;
                }
            }
            p{
                text-align: center;
                letter-spacing: 1.5px;
                color: #000000b2;
                a{
                    margin-left: 5px;
                    letter-spacing: 0;
                    color: #000000b2;
                }
            }
        }
    }
}




@media (max-width: 991.98px) {
  .mainSignUp{
     width: 100%; 
    max-width: 100%;
    margin:100px 0;
    display:flex;
    align-items:center;
    height: 100vh;
    .img{
        display: none;
       
    }
 }
}

@media (max-width: 767.98px) {
  .mainSignUp{
        max-width: 100%;
 width: 100%;
    margin:100px 0;
    display:flex;
    align-items:center;
    height: 100vh;
    .img{
        display: none;
       
    }
 }
}

@media (max-width: 575.98px) {
 .mainSignUp{
         width: 100%; 
  max-width: 400px;
    margin:100px 0;
    display:flex;
    align-items:center;
    height: 100vh;
    .img{
        display: none;
       
    }
 }
}