@use '../utils/variable' as *;
@use '../utils/mixin' as *;


.BestProductsSection {
    overflow: hidden;
    margin: 100px 0;
    .img{
            overflow: hidden;
            .btnHide {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 41px;
            width: 100%;
            background: black;
            color: white;
            border: none;
            z-index: 10;
            cursor: pointer;
            padding: 10px;
            transform: translateY(100%);
            transition: 0.3s;
        } 
         &:hover {
           .btnHide {
                transform: translateY(0);
            }
        }
    }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.detailsHeader{
    p{
        color: $primary_color;
        margin-left: 30px;
        position: relative;
        &::before{
            content: '';
            width: 20px;
            height: 40px;
            background-color: $primary_color;
            position: absolute;
            top: -8px;
            left: -30px;
            border-radius: 5px;
        }
    }
 

}
.btnView {
    display: flex;
    @include btnGlobal($primary_color,16px  48px,white);
    border: none;
}
