.Featured{
    display: flex;
    gap: 30px;
    align-items: center;
    color: white;
    position: relative;
    .PlayStation{
        background-repeat: no-repeat;
        width: 570px;
        height: 600px;
        background-color: black;
        position: relative;
        .details{
            position: absolute;
            bottom: 15px;
            left:20px;
            h1{
                font-size: 24px;
            }
            p{
                font-size: 14px;
                width: 240px;
            }
            p:last-child{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .Women’sandOthers{
        width: 570px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .Women’s{
            background-repeat: no-repeat;
            width: 570px;
            background-color: black;
            height: 284px;
            position: relative;
             .details{
            position: absolute;
            bottom: 15px;
            left:20px;
             h1{
                font-size: 24px;
            }
            p{
                font-size: 14px;
                width: 240px;
            }
            p:last-child{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        }
        .others{
            display: flex;
            position: relative;
            justify-content: space-between;

            .Speakers{
                background-repeat: no-repeat;
                width: 270px;
                background-color: black;
                height: 284px;
                position: relative;
                 .details{
            position: absolute;
            bottom: 15px;
            left:20px;
             h1{
                font-size: 24px;
            }
            p{
                font-size: 14px;
                width: 240px;
            }
            p:last-child{
                text-decoration: underline;
                cursor: pointer;
            }
        }
            }
            .Perfume{
                background-repeat: no-repeat;
                width: 270px;
                background-color: black;
                height: 284px;
                position: relative;
                 .details{
            position: absolute;
            bottom: 15px;
            left:20px;
             h1{
                font-size: 24px;
            }
            p{
                font-size: 14px;
                width: 240px;
            }
            p:last-child{
                text-decoration: underline;
                cursor: pointer;
            }
        }
            }
        }
    }
}
.Property{
        flex-wrap: wrap;
        margin: 100px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 30px;
        margin-left: 50px;
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }