@use '../utils/variable' as *;
@use '../utils/mixin' as *;
.FlashSalesSection{
    margin: 100px 0;
    .sectionName{
      all: unset;
        .title{
          margin-left: 35px;
          position: relative;
          color:$primary_color;
            &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 40px;
            border-radius: 5px;
            bottom: -10px;
            left: -35px;
            background-color: $primary_color;
            color: $primary_color;
        }
        }
        .details{
            all: unset;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .NameAndNumbers{
              all: unset;
            display: flex;
            justify-content: start;
            align-items: center;
            .numbers{
                margin-left: 87px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                text-align: center;
                margin-bottom: 10px;
                .days,.Hours,.Minutes,.Seconds{
                    display: flex;
                    font-size: 18px;
                    color: #000000;
                    flex-direction: column;
                    .number{
                        font-size: 30px;
                    }
                }
            }
           
        }
         .arrows{
                display: flex;
                gap: 30px;
                .arrow{
                    font-size: 46px;
                    cursor: pointer;
                }
            }
        }
    }
    .btns{
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .btn{
        @include btnGlobal($primary_color,16px  48px,white)
      }
    }
    
}

.myProducts { 
  width: 100%;
  height: 100%;
  

  .item {
  box-sizing: border-box;
    .BoxImg {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #F5F5F5;
        width: 100%;
        height: 250px;
        .like{
          .iconLike{
            cursor: pointer;
            color: black;
            position: absolute;
            top: 30px;
            right: 25px;
            z-index: 120;
          }
        }
        .watch{
          .iconWatch{
            color: black;
            position: absolute;
            top: 70px;
            right: 25px;
            cursor: pointer;
            z-index: 120;
          }
        }
        .linkProduct{
          text-decoration: none;
          
          .img {
            text-decoration: line-through;
            pointer-events: none;
          }
        }
          .btnHide {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 41px;
            width: 100%;
            background: black;
            color: white;
            border: none;
            z-index: 10;
            cursor: pointer;
            padding: 10px;
            transform: translateY(100%);
            transition: 0.3s;
        } 
          &:hover {
              .btnHide {
                transform: translateY(0);
            }
        }
    }

      .details {
      p {
        color: black;
        margin-top: 10px;
      }

      .price {
      color: $primary_color;
        span {
         &:last-child {
            margin-left: 10px;
            text-decoration: line-through;
            color: #333;
          }
        }
      .stars {
          display: flex;
          gap: 3px;
        }
      }
    }
  }
}



@media (max-width: 768px) {
  .FlashSalesSection {
    .sectionName {
      display: none;
      .arrows {
        display: none;
      }

      .numbers {
        margin-left: 20px;
        gap: 10px;
      }

      .name {
        font-size: 28px;
      }

      .days,
      .Hours,
      .Minutes,
      .Seconds {
        font-size: 12px;

        .number {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .FlashSalesSection {
    .sectionName {
      .arrows {
        display: none;

        button {
          width: 30px;
          height: 30px;
        }
      }

      .name {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 480px) {
  .title {
    display: none;
  }
}