@use '../utils/variable' as *;
@use '../utils/mixin' as *;
.FlashSalesSection{
    margin: 100px 0;
    .sectionName{
        margin-left: 141px;
        .title{
            margin-left:35px; 
            position: relative;
            color:$primary_color;
              &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 40px;
            border-radius: 5px;
            bottom: -10px;

            left: -35px;
            background-color: $primary_color;
            color: $primary_color;
        }
        }
        .details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .NameAndNumbers{
            display: flex;
            justify-content: start;
            align-items: center;
            .numbers{
                margin-left: 87px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                text-align: center;
                .days,.Hours,.Minutes,.Seconds{
                    display: flex;
                    font-size: 18px;
                    color: #000000;
                    flex-direction: column;
                    .number{
                        font-size: 30px;
                    }
                }
            }
           
        }
         .arrows{
                margin-right: 90px;
                display: flex;
                gap: 30px;
                .arrow{
                    font-size: 46px;
                    cursor: pointer;
                }
            }
        }
    }
    .btns{
      display: flex;
      justify-content: center;
      .btn{
        margin-top: 40px;
        @include btnGlobal($primary_color,16px  48px,white)
      }
    }
    
}

.myProducts {
  width: 100%;
  height: 100%;
  margin-left: 140px;

  .mySwiper {
    margin-left: 140px;
  }

  .item {
  /**/  .BoxImg {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #F5F5F5;
        width: 100%;
        height: 250px;
   /**/       .img {
            text-decoration: line-through;
            pointer-events: none;
        }
      /**/    .btnHide {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 41px;
            width: 100%;
            background: black;
            color: white;
            border: none;
            z-index: 10;
            cursor: pointer;
            padding: 10px;
            transform: translateY(100%);
            transition: 0.3s;
        } 
     /**/     &:hover {
     /**/         .btnHide {
                transform: translateY(0);
            }
        }
    }

   /**/   .details {
      p {
        color: black;
        margin-top: 10px;
      }

     /**/   .price {
        span {

        //   &:first-child {
        //     // السعر بعد الخصم
        //   }

    /**/        &:last-child {
            margin-left: 10px;
            text-decoration: line-through;
            color: #333;
          }
        }
     /**/     .stars {
          display: flex;
          gap: 3px;
        }
      }
    }
  }
}


/* أصغر الشاشات حتى 360px */
@media (max-width: 360px) {
  .FlashSalesSection .sectionName {
    margin-left: 20px;
  }
  .myProducts {
  width: 100%;
  height: 100%;
  margin-left: 0px;

  .mySwiper {
    margin-left: 140px;
  }}
}

/* من 361px إلى 767px */
@media (min-width: 361px) and (max-width: 767px) {
  .FlashSalesSection .sectionName {
    margin-left: 50px;
  }
  .myProducts {
  width: 100%;
  height: 100%;
  margin-left: 0px;

  .mySwiper {
    margin-left: 140px;
  }}
}

/* من 768px إلى 819px */
@media (min-width: 768px) and (max-width: 819px) {
  .FlashSalesSection .sectionName {
    margin-left: 140px;
  }
  
}

/* من 820px إلى 899px */
@media (min-width: 820px) and (max-width: 899px) {
  .FlashSalesSection .sectionName {
    margin-left: 170px;
  }
}

/* من 900px إلى 949px */
@media (min-width: 900px) and (max-width: 949px) {
  .FlashSalesSection .sectionName {
    margin-left: 70px;
  }
   .myProducts {
  width: 100%;
  height: 100%;
  margin-left: 90px;

  .mySwiper {
    margin-left: 140px;
  }}
}

/* من 950px إلى 1280px */
@media (min-width: 950px) and (max-width: 1280px) {
  .FlashSalesSection .sectionName {
    margin-left: 80px;
  }
  .myProducts {
  width: 100%;
  height: 100%;
  margin-left: 90px;

  .mySwiper {
    margin-left: 140px;
  }}
}

/* من 1281px إلى 1599px */
@media (min-width: 1281px) and (max-width: 1599px) {
  .FlashSalesSection .sectionName {
    margin-left: 150px;
  }
   .myProducts {
  width: 100%;
  height: 100%;
  margin-left: 190px;

  .mySwiper {
    margin-left: 140px;
  }}
}

/* من 1600px فأكثر */
@media (min-width: 1600px) {
  .FlashSalesSection .sectionName {
    margin-left: 250px;
  }
   .myProducts {
  width: 100%;
  height: 100%;
  margin-left: 260px;

  .mySwiper {
    margin-left: 140px;
  }}
}