@use '../utils/variable' as *;
.heroSection{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 250px;
    list-style: none;
     .sidebarContent{
        cursor: pointer;
        display: flex;
        width: 180px;
        gap :16px;
        align-items: center;
        position: relative;
        justify-content: space-between;
       span{
            .arrowRight{
                font-size: 15px;
        }
       }
   }
}
}

.swiper-pagination-bullet {
  background: gray; 
  opacity: 1;
  padding: 5px;
}

.swiper-pagination-bullet-active {
  background: $primary_color;
}
.carousel{
 flex: 1;
     .mySwiper{
        width: 892px;
        height: 344px;
    }
}
.text{
    position: relative;
}
.text::after{
content: '';
background-color: white;
width: 100%;
height: 1px;
top: 10px;
z-index: -111111111111;
}

.mySwiper{
    .carouselSlide{
        background-color: black;
        .carouselContent{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            .carouselTextAndButton{
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                text-align: center;
                .carouselBrand{
                    align-items: center;
                    gap: 10px;
                    display: flex;
                    justify-content: center;
                    img{
                        font-size: 18px;
                    }
                    span{
                        font-size: 15px;
                    }
                }
                .carouselTitle{
                    width: 240px;
                    text-align: start;
                }
                .ShopNow{
                    cursor: pointer;
                    border-bottom: 1px solid white;
                    p{
                        display: inline;
                    }
                    span{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}