.show_product{
    margin: 100px 0;
    width: 100%;
    height: 100%;
    display: grid;
      display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
 
.itemShow {
    .BoxImg {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #F5F5F5;
        width: 100%;
        height: 250px;
        .img {
              max-width: 100%;
  max-height: 200px;
  object-fit: contain;
            text-decoration: line-through;
            pointer-events: none;
        }
            .btnHide {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 41px;
            width: 100%;
            background: black;
            color: white;
            border: none;
            z-index: 10;
            cursor: pointer;
            padding: 10px;
            transform: translateY(100%);
            transition: 0.3s;
        } 
        &:hover {
            .btnHide {
                transform: translateY(0);
            }
        }
    }

   /**/   .details {
      p {
        color: black;
        margin-top: 10px;
      }

     /**/   .price {
        span {

        //   &:first-child {
        //     // السعر بعد الخصم
        //   }

    /**/        &:last-child {
            margin-left: 10px;
            text-decoration: line-through;
            color: #333;
          }
        }
     /**/     .stars {
          display: flex;
          gap: 3px;
        }
      }
    }
  }


@media (max-width: 1200px) {
  .show_product {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .show_product {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .show_product {
    grid-template-columns: 1fr;
  }
}