@charset "UTF-8";
.top_header {
  background-color: black;
  height: 48px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.top_header .details {
  font-size: 13px;
  padding-right: 5px;
  padding-top: 12px;
}

.top_header p:last-of-type {
  font-size: 13px;
  margin-right: 5px;
  padding-top: 12px;
  text-decoration: underline;
}

.top_header .dropdown {
  position: absolute;
  right: 50px;
  border: none !important;
  background-color: none !important;
  columns: white !important;
}

.dropdown .btn:focus {
  outline: none;
  box-shadow: none;
}

/* TextField يمين أو تحت حسب الشاشة */
@media (max-width: 768px) {
  .navbar .navbar-collapse {
    flex-direction: column; /* القائمة + البحث تحت بعض */
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 1199.98px) {
  .top_header {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .top_header {
    display: block;
  }
  .top_header .dropdown {
    display: none;
  }
}
.mainSignUp {
  margin: 100px 0;
  display: flex;
  align-items: center;
  height: 100vh;
}
.mainSignUp .img img {
  height: 701px;
}
.mainSignUp .createAccount {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.mainSignUp .createAccount p {
  font-size: 15px;
}
.mainSignUp .createAccount form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainSignUp .createAccount form #btn {
  padding: 10px 0;
  background-color: #DB4444;
  color: white;
}
.mainSignUp .createAccount form #btnGoogle {
  padding: 10px 0;
  background-color: white;
  color: black;
}
.mainSignUp .createAccount form #btnGoogle img {
  margin-right: 5px;
}
.mainSignUp .createAccount form p {
  text-align: center;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.6980392157);
}
.mainSignUp .createAccount form p a {
  margin-left: 5px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.6980392157);
}

@media (max-width: 991.98px) {
  .mainSignUp {
    width: 100%;
    max-width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .mainSignUp {
    max-width: 100%;
    width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .mainSignUp {
    width: 100%;
    max-width: 400px;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
.mainLogIn {
  margin: 100px 0;
  display: flex;
  align-items: center;
  height: 100vh;
}
.mainLogIn .img img {
  height: 701px;
}
.mainLogIn .logInAccount {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.mainLogIn .logInAccount p {
  font-size: 15px;
}
.mainLogIn .logInAccount form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainLogIn .logInAccount form #btn {
  padding: 0px 48px;
  background-color: #DB4444;
  color: white;
}
.mainLogIn .logInAccount form #forget {
  padding: 10px 0;
  background-color: white;
  color: #DB4444;
  border: 0;
  box-shadow: none;
}

@media (max-width: 991.98px) {
  .mainSignUp {
    width: 100%;
    max-width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .mainSignUp {
    max-width: 100%;
    width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .mainSignUp {
    width: 100%;
    max-width: 400px;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: black;
  color: #FAFAFA;
  position: relative;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  top: 30px;
}

.footer_content ul {
  list-style: none;
  padding: 0;
}

.footer_content ul li {
  padding: 5px 0px;
}

.Support ul li {
  width: 170px;
}

@media (max-width: 1199.98px) {
  .footer_content .Exclusive {
    font-size: 10px;
  }
  .footer_content .Support {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
  .footer_content .Account {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
  .footer_content .QuickLink {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
  .footer_content .DownloadApp {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  .top_header {
    display: block;
  }
  .top_header .dropdown {
    display: none;
  }
}
.mainAbout {
  margin: 100px 0;
}
.mainAbout .Link {
  margin-left: 35px;
}
.mainAbout .Link .LinkHome {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7058823529);
  margin-right: 10px;
}
.mainAbout .Link .LinkAbout {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.mainAbout .contentAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.mainAbout .DetailsAbout {
  width: 530px;
  margin-left: 40px;
}
.mainAbout .first-detailsAbout {
  margin: 25px 0;
}
.mainAbout .imgAbout {
  position: relative;
  right: 0px;
}
.mainAbout .imgAbout img {
  width: 705px;
}

.propertyAbout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  grid-area: 50px;
}
.propertyAbout .item {
  width: 270px;
  height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.6862745098);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.propertyAbout .item .img {
  background-color: black;
  border-radius: 50%;
  width: fit-content;
  box-shadow: 0px 0px 0px 5px rgba(33, 37, 41, 0.7058823529);
  justify-content: center;
  margin: 0 0 25px 0px;
}
.propertyAbout .item .img img {
  width: 40px;
  padding: 5px;
  color: white;
}
.propertyAbout .item h4 {
  color: black;
}
.propertyAbout .item p {
  font-size: 10px;
  color: black;
}

.propertyAboutShow {
  flex-wrap: wrap;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.propertyAboutShow .img {
  background-color: #F5F5F5;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.propertyAboutShow h2 {
  color: black;
}
.propertyAboutShow .icon {
  margin: 0 10px;
}

.Property {
  flex-wrap: wrap;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
  margin-left: 50px;
}
.Property .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 320px) {
  .contentAbout .DetailsAbout {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
  }
  .contentAbout .imgAbout {
    display: none;
  }
  .propertyAbout .item {
    margin: 10px auto;
  }
  .propertyAboutShow {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .propertyAboutShow .img {
    margin: 30px auto;
  }
  .Property {
    margin: 0 auto;
  }
}
@media (min-width: 480px) {
  .contentAbout .DetailsAbout {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
  }
  .contentAbout .imgAbout {
    display: none;
  }
}
@media (min-width: 992px) {
  .contentAbout .imgAbout {
    display: block;
  }
}
.mainContact {
  margin: 100px 0;
}
.mainContact .Link {
  margin-left: 25px;
}
.mainContact .Link .LinkHome {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7058823529);
  margin-right: 10px;
}
.mainContact .Link .LinkContact {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.mainContact .section {
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainContact .section .address .item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4392156863);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.mainContact .section .address .item .title {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.mainContact .section .address .item .title .img {
  background-color: #DB4444;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContact .section .address .item p {
  font-size: 14px;
  gap: 10px;
}
.mainContact .section .messageMe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
  align-items: flex-end;
}
.mainContact .section .messageMe .inputsContact {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.mainContact .section .messageMe .textarea {
  resize: none;
}
.mainContact .section .messageMe .btns {
  padding: 16px 48px;
  background-color: #DB4444;
  color: white;
  border: none;
}

@media (max-width: 992px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
  .mainContact .section .messageMe .inputsContact {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  .mainContact .section .messageMe .inputsContact #filled-basic {
    width: 300px;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 0;
    padding-left: 0;
  }
}
.contentNotFound {
  margin: 100px 0;
}
.contentNotFound .Link {
  margin-left: 35px;
}
.contentNotFound .Link .LinkHome {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7058823529);
  margin-right: 10px;
}
.contentNotFound .Link .LinkNotFound {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.contentNotFound .content {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contentNotFound .content h1 {
  color: black;
  font-size: 110px;
}
.contentNotFound .content p {
  font-size: 16px;
}
.contentNotFound .content .btns {
  padding: 16px 48px;
  background-color: #DB4444;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.app {
  height: 100vh;
}

/*# sourceMappingURL=App.css.map */
