@charset "UTF-8";
.top_header {
  background-color: black;
  height: 48px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.top_header .details {
  font-size: 13px;
  padding-right: 5px;
  padding-top: 12px;
}

.top_header p:last-of-type {
  font-size: 13px;
  margin-right: 5px;
  padding-top: 12px;
  text-decoration: underline;
}

.top_header .dropdown {
  position: absolute;
  right: 50px;
  border: none !important;
  background-color: none !important;
  columns: white !important;
}

.dropdown .btn:focus {
  outline: none;
  box-shadow: none;
}

/* TextField يمين أو تحت حسب الشاشة */
@media (max-width: 768px) {
  .navbar .navbar-collapse {
    flex-direction: column; /* القائمة + البحث تحت بعض */
    align-items: flex-start;
    gap: 10px;
  }
}
@media (max-width: 1199.98px) {
  .top_header {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .top_header {
    display: block;
  }
  .top_header .dropdown {
    display: none;
  }
}
.mainSignUp {
  margin: 100px 0;
  display: flex;
  align-items: center;
  height: 100vh;
}
.mainSignUp .img img {
  height: 701px;
}
.mainSignUp .createAccount {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.mainSignUp .createAccount p {
  font-size: 15px;
}
.mainSignUp .createAccount form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainSignUp .createAccount form #btn {
  padding: 10px 0;
  background-color: #DB4444;
  color: white;
}
.mainSignUp .createAccount form #btnGoogle {
  padding: 10px 0;
  background-color: white;
  color: black;
}
.mainSignUp .createAccount form #btnGoogle img {
  margin-right: 5px;
}
.mainSignUp .createAccount form p {
  text-align: center;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.6980392157);
}
.mainSignUp .createAccount form p a {
  margin-left: 5px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.6980392157);
}

@media (max-width: 991.98px) {
  .mainSignUp {
    width: 100%;
    max-width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .mainSignUp {
    max-width: 100%;
    width: 100%;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .mainSignUp {
    width: 100%;
    max-width: 400px;
    margin: 100px 0;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .mainSignUp .img {
    display: none;
  }
}
.mainLogIn {
  margin: 100px 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.mainLogIn .img img {
  height: 701px;
}
.mainLogIn .logInAccount {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.mainLogIn .logInAccount p {
  font-size: 15px;
}
.mainLogIn .logInAccount form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainLogIn .logInAccount form #btn {
  padding: 0px 48px;
  background-color: #DB4444;
  color: white;
}
.mainLogIn .logInAccount form #forget {
  padding: 10px 0;
  background-color: white;
  color: #DB4444;
  border: 0;
  box-shadow: none;
}

@media (max-width: 1024px) {
  .mainLogIn {
    flex-direction: column;
    height: auto;
  }
  .img {
    width: 100%;
  }
  .img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .logInAccount {
    width: 100%;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .mainLogIn .img img {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .mainLogIn .img img {
    display: none;
  }
}
.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: black;
  color: #FAFAFA;
  position: relative;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  top: 30px;
}

.footer_content ul {
  list-style: none;
  padding: 0;
}

.footer_content ul li {
  padding: 5px 0px;
}

.Support ul li {
  width: 170px;
}

@media (max-width: 1199.98px) {
  .footer_content .Exclusive {
    font-size: 10px;
  }
  .footer_content .Support {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
  .footer_content .Account {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
  .footer_content .QuickLink {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
  .footer_content .DownloadApp {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 991.98px) {
  .top_header {
    display: block;
  }
  .top_header .dropdown {
    display: none;
  }
}
.mainAbout {
  margin: 100px 0;
}
.mainAbout .Link {
  margin-left: 35px;
}
.mainAbout .Link .LinkHome {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7058823529);
  margin-right: 10px;
}
.mainAbout .Link .LinkAbout {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.mainAbout .contentAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.mainAbout .DetailsAbout {
  width: 530px;
  margin-left: 40px;
}
.mainAbout .first-detailsAbout {
  margin: 25px 0;
}
.mainAbout .imgAbout {
  position: relative;
  right: 0px;
}
.mainAbout .imgAbout img {
  width: 705px;
}

.propertyAbout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-area: 50px;
}
.propertyAbout .item {
  width: 270px;
  height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.6862745098);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.propertyAbout .item.highlight {
  background-color: #D44444;
  border: none;
}
.propertyAbout .item.highlight h4, .propertyAbout .item.highlight p {
  color: white;
}
.propertyAbout .item .img {
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(33, 37, 41, 0.7058823529);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 0 25px 0px;
  width: 40px;
  height: 40px;
}
.propertyAbout .item .img img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
.propertyAbout .item h4 {
  color: black;
}
.propertyAbout .item p {
  font-size: 14px;
  color: black;
}

.propertyAboutShow {
  flex-wrap: wrap;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.propertyAboutShow .img {
  background-color: #F5F5F5;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.propertyAboutShow h2 {
  color: black;
}
.propertyAboutShow .icon {
  margin: 0 10px;
}

.Property {
  flex-wrap: wrap;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  margin-left: 50px;
}
.Property .main {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 320px) {
  .contentAbout .DetailsAbout {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
  }
  .contentAbout .imgAbout {
    display: none;
  }
  .propertyAbout .item {
    margin: 10px auto;
  }
  .propertyAboutShow {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .propertyAboutShow .img {
    margin: 30px auto;
  }
  .Property {
    margin: 0 auto;
  }
}
@media (min-width: 480px) {
  .contentAbout .DetailsAbout {
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
  }
  .contentAbout .imgAbout {
    display: none;
  }
}
@media (min-width: 992px) {
  .contentAbout .imgAbout {
    display: block;
  }
}
@media (max-width: 768px) {
  .propertyAbout {
    flex-direction: column;
    align-items: center;
  }
  .propertyAbout .item {
    width: 90%;
    max-width: 320px;
  }
}
.mainContact {
  margin: 100px 0;
}
.mainContact .Link {
  margin-left: 25px;
}
.mainContact .Link .LinkHome {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7058823529);
  margin-right: 10px;
}
.mainContact .Link .LinkContact {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.mainContact .section {
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainContact .section .address .item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4392156863);
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.mainContact .section .address .item .title {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.mainContact .section .address .item .title .img {
  background-color: #DB4444;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContact .section .address .item p {
  font-size: 14px;
  gap: 10px;
}
.mainContact .section .messageMe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
  align-items: flex-end;
}
.mainContact .section .messageMe .inputsContact {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.mainContact .section .messageMe .textarea {
  resize: none;
}
.mainContact .section .messageMe .btns {
  padding: 16px 48px;
  background-color: #DB4444;
  color: white;
  border: none;
}

@media (max-width: 992px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .address {
    margin: 0 auto;
  }
  .mainContact .section .messageMe .inputsContact {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  .mainContact .section .messageMe .inputsContact #filled-basic {
    width: 300px;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .mainContact .section {
    flex-wrap: wrap;
  }
  .mainContact .section .messageMe {
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 0;
    padding-left: 0;
  }
}
.contentNotFound {
  margin: 100px 0;
}
.contentNotFound .Link {
  margin-left: 35px;
}
.contentNotFound .Link .LinkHome {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7058823529);
  margin-right: 10px;
}
.contentNotFound .Link .LinkNotFound {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.contentNotFound .content {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contentNotFound .content h1 {
  color: black;
  font-size: 110px;
}
.contentNotFound .content p {
  font-size: 16px;
}
.contentNotFound .content .btns {
  padding: 16px 48px;
  background-color: #DB4444;
  color: white;
}

.heroSection {
  margin: 50px 0;
  display: flex;
  gap: 30px;
  width: 100%;
}
.heroSection .sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 250px;
  list-style: none;
}
.heroSection .sidebar .sidebarContent {
  cursor: pointer;
  display: flex;
  width: 180px;
  gap: 16px;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.heroSection .sidebar .sidebarContent span .arrowRight {
  font-size: 15px;
}

.carousel {
  flex: 1;
  min-width: 0;
}
.carousel .mySwiper {
  width: 100%;
  height: 344px;
}

.swiper-pagination-bullet {
  background: gray;
  opacity: 1;
  padding: 5px;
}

.swiper-pagination-bullet-active {
  background: #DB4444;
}

.mySwiper {
  width: 100%;
}

.carouselSlide {
  background-color: black;
}
.carouselSlide .carouselContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100%;
}
.carouselSlide .carouselContent img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.carouselSlide .carouselContent .carouselTextAndButton {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.carouselSlide .carouselContent .carouselTextAndButton .carouselBrand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.carouselSlide .carouselContent .carouselTextAndButton .carouselBrand span {
  font-size: 15px;
}
.carouselSlide .carouselContent .carouselTextAndButton .carouselTitle {
  width: 240px;
  text-align: start;
}
.carouselSlide .carouselContent .carouselTextAndButton .ShopNow {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.carouselSlide .carouselContent .carouselTextAndButton .ShopNow p {
  display: inline;
}
.carouselSlide .carouselContent .carouselTextAndButton .ShopNow span {
  margin-left: 5px;
}

/* Hide Sidebar Under 990px */
@media (max-width: 990px) {
  .heroSection .sidebar {
    display: none;
  }
  .mySwiper {
    height: 300px;
  }
}
/* Tablet */
@media (max-width: 768px) {
  .mySwiper {
    height: 250px;
  }
  .carouselContent {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  .carouselTextAndButton {
    margin-left: 0 !important;
    align-items: center !important;
  }
  .carouselTitle {
    width: auto !important;
    text-align: center !important;
  }
}
/* Mobile */
@media (max-width: 576px) {
  .mySwiper {
    height: 200px;
  }
  .carouselBrand {
    font-size: 14px;
  }
  .carouselTitle {
    font-size: 22px;
  }
}
.FlashSalesSection {
  margin: 100px 0;
}
.FlashSalesSection .sectionName {
  all: unset;
}
.FlashSalesSection .sectionName .title {
  margin-left: 35px;
  position: relative;
  color: #DB4444;
}
.FlashSalesSection .sectionName .title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  border-radius: 5px;
  bottom: -10px;
  left: -35px;
  background-color: #DB4444;
  color: #DB4444;
}
.FlashSalesSection .sectionName .details {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FlashSalesSection .sectionName .details .NameAndNumbers {
  all: unset;
  display: flex;
  justify-content: start;
  align-items: center;
}
.FlashSalesSection .sectionName .details .NameAndNumbers .numbers {
  margin-left: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.FlashSalesSection .sectionName .details .NameAndNumbers .numbers .days, .FlashSalesSection .sectionName .details .NameAndNumbers .numbers .Hours, .FlashSalesSection .sectionName .details .NameAndNumbers .numbers .Minutes, .FlashSalesSection .sectionName .details .NameAndNumbers .numbers .Seconds {
  display: flex;
  font-size: 18px;
  color: #000000;
  flex-direction: column;
}
.FlashSalesSection .sectionName .details .NameAndNumbers .numbers .days .number, .FlashSalesSection .sectionName .details .NameAndNumbers .numbers .Hours .number, .FlashSalesSection .sectionName .details .NameAndNumbers .numbers .Minutes .number, .FlashSalesSection .sectionName .details .NameAndNumbers .numbers .Seconds .number {
  font-size: 30px;
}
.FlashSalesSection .sectionName .details .arrows {
  display: flex;
  gap: 30px;
}
.FlashSalesSection .sectionName .details .arrows .arrow {
  font-size: 46px;
  cursor: pointer;
}
.FlashSalesSection .btns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.FlashSalesSection .btns .btn {
  padding: 16px 48px;
  background-color: #DB4444;
  color: white;
}

.myProducts {
  width: 100%;
  height: 100%;
}
.myProducts .item {
  box-sizing: border-box;
}
.myProducts .item .BoxImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #F5F5F5;
  width: 100%;
  height: 250px;
}
.myProducts .item .BoxImg .like .iconLike {
  cursor: pointer;
  color: black;
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 120;
}
.myProducts .item .BoxImg .watch .iconWatch {
  color: black;
  position: absolute;
  top: 70px;
  right: 25px;
  cursor: pointer;
  z-index: 120;
}
.myProducts .item .BoxImg .linkProduct {
  text-decoration: none;
}
.myProducts .item .BoxImg .linkProduct .img {
  text-decoration: line-through;
  pointer-events: none;
}
.myProducts .item .BoxImg .btnHide {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 41px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  z-index: 10;
  cursor: pointer;
  padding: 10px;
  transform: translateY(100%);
  transition: 0.3s;
}
.myProducts .item .BoxImg:hover .btnHide {
  transform: translateY(0);
}
.myProducts .item .details p {
  color: black;
  margin-top: 10px;
}
.myProducts .item .details .price {
  color: #DB4444;
}
.myProducts .item .details .price span:last-child {
  margin-left: 10px;
  text-decoration: line-through;
  color: #333;
}
.myProducts .item .details .price .stars {
  display: flex;
  gap: 3px;
}

@media (max-width: 768px) {
  .FlashSalesSection .sectionName {
    display: none;
  }
  .FlashSalesSection .sectionName .arrows {
    display: none;
  }
  .FlashSalesSection .sectionName .numbers {
    margin-left: 20px;
    gap: 10px;
  }
  .FlashSalesSection .sectionName .name {
    font-size: 28px;
  }
  .FlashSalesSection .sectionName .days,
  .FlashSalesSection .sectionName .Hours,
  .FlashSalesSection .sectionName .Minutes,
  .FlashSalesSection .sectionName .Seconds {
    font-size: 12px;
  }
  .FlashSalesSection .sectionName .days .number,
  .FlashSalesSection .sectionName .Hours .number,
  .FlashSalesSection .sectionName .Minutes .number,
  .FlashSalesSection .sectionName .Seconds .number {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .FlashSalesSection .sectionName .arrows {
    display: none;
  }
  .FlashSalesSection .sectionName .arrows button {
    width: 30px;
    height: 30px;
  }
  .FlashSalesSection .sectionName .name {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .title {
    display: none;
  }
}
.show_product {
  margin: 100px 0;
  width: 100%;
  height: 100%;
  display: grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.itemShow .BoxImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #F5F5F5;
  width: 100%;
  height: 250px;
}
.itemShow .BoxImg .img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  text-decoration: line-through;
  pointer-events: none;
}
.itemShow .BoxImg .btnHide {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 41px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  z-index: 10;
  cursor: pointer;
  padding: 10px;
  transform: translateY(100%);
  transition: 0.3s;
}
.itemShow .BoxImg:hover .btnHide {
  transform: translateY(0);
}
.itemShow {
  /**/
}
.itemShow .details p {
  color: black;
  margin-top: 10px;
}
.itemShow .details {
  /**/
}
.itemShow .details .price span {
  /**/
}
.itemShow .details .price span:last-child {
  margin-left: 10px;
  text-decoration: line-through;
  color: #333;
}
.itemShow .details .price {
  /**/
}
.itemShow .details .price .stars {
  display: flex;
  gap: 3px;
}

@media (max-width: 1200px) {
  .show_product {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .show_product {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .show_product {
    grid-template-columns: 1fr;
  }
}
.categorySection {
  margin: 40px 0;
}

.categoryCard {
  height: 120px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.5058823529);
}

.categoryCard:hover {
  background: #DB4444;
  color: white;
}

.icon {
  font-size: 24px;
}

.categoryCard.active {
  background: #DB4444;
  color: white;
  border: 1px solid #DB4444;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.detailsHeader p {
  color: #DB4444;
  margin-left: 30px;
  position: relative;
}
.detailsHeader p::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: #DB4444;
  position: absolute;
  top: -8px;
  left: -30px;
  border-radius: 5px;
}

.arrows {
  display: flex;
  gap: 10px;
}

.arrows button {
  width: 40px;
  height: 40px;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  transition: 0.3s;
}

.arrows button:hover {
  background: #db4444;
  color: white;
}

.BestProductsSection {
  overflow: hidden;
  margin: 100px 0;
}
.BestProductsSection .img {
  overflow: hidden;
}
.BestProductsSection .img .btnHide {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 41px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  z-index: 10;
  cursor: pointer;
  padding: 10px;
  transform: translateY(100%);
  transition: 0.3s;
}
.BestProductsSection .img:hover .btnHide {
  transform: translateY(0);
}
.BestProductsSection .BestProduct {
  overflow: auto;
}
.BestProductsSection .BestProduct::-webkit-scrollbar {
  display: none;
}
.BestProductsSection .BestProduct {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.detailsHeader p {
  color: #DB4444;
  margin-left: 30px;
  position: relative;
}
.detailsHeader p::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: #DB4444;
  position: absolute;
  top: -8px;
  left: -30px;
  border-radius: 5px;
}

.btnView {
  display: flex;
  padding: 16px 48px;
  background-color: #DB4444;
  color: white;
  border: none;
}

.ourProduct {
  overflow: hidden;
}
.ourProduct .slide {
  overflow: hidden;
}
.ourProduct .slide .img {
  overflow: hidden;
  position: relative;
}
.ourProduct .slide .img .btnHide {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 41px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  z-index: 10;
  cursor: pointer;
  padding: 10px;
  transform: translateY(100%);
  transition: 0.3s;
}
.ourProduct .slide .img:hover .btnHide {
  transform: translateY(0);
}

.Featured {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.Featured .content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.Featured .content .PlayStation {
  width: 570px;
  height: 600px;
}
.Featured .content .PlayStation .details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  color: white;
  margin-left: 30px;
  width: 242px;
}
.Featured .content .PlayStation .details h1 {
  font-size: 24px;
  color: #FAFAFA;
}
.Featured .content .PlayStation .details p {
  font-size: 14px;
  color: #FAFAFA;
}
.Featured .content .PlayStation .details .shop {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  color: #FFFFFF;
}
.Featured .content .Women’sandOthers {
  width: 570px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.Featured .content .Women’sandOthers .Women’s {
  max-width: 100%;
  height: 284px;
  margin-bottom: 30px;
}
.Featured .content .Women’sandOthers .Women’s .details {
  display: flex;
  height: 100%;
  justify-content: end;
  flex-direction: column;
  color: white;
  margin-left: 25px;
}
.Featured .content .Women’sandOthers .Women’s .details h1 {
  font-size: 24px;
  color: #FAFAFA;
}
.Featured .content .Women’sandOthers .Women’s .details p {
  font-size: 14px;
  color: #FAFAFA;
}
.Featured .content .Women’sandOthers .Women’s .details .shop {
  font-size: 16px;
  text-decoration: underline;
  color: #FFFFFF;
}
.Featured .content .Women’sandOthers .others {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.Featured .content .Women’sandOthers .others .cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.Featured .content .Women’sandOthers .others .cards .Speakers {
  width: 270px;
  height: 284px;
}
.Featured .content .Women’sandOthers .others .cards .Speakers .details {
  display: flex;
  height: 100%;
  justify-content: end;
  flex-direction: column;
  color: white;
  margin-left: 25px;
}
.Featured .content .Women’sandOthers .others .cards .Speakers .details h1 {
  font-size: 24px;
  color: #FAFAFA;
}
.Featured .content .Women’sandOthers .others .cards .Speakers .details p {
  font-size: 14px;
}
.Featured .content .Women’sandOthers .others .cards .Speakers .details .shop {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: underline;
}
.Featured .content .Women’sandOthers .others .cards .Perfume {
  width: 270px;
  height: 284px;
}
.Featured .content .Women’sandOthers .others .cards .Perfume .details {
  display: flex;
  height: 100%;
  justify-content: end;
  flex-direction: column;
  color: white;
  margin-left: 25px;
}
.Featured .content .Women’sandOthers .others .cards .Perfume .details h1 {
  font-size: 24px;
  color: #FAFAFA;
}
.Featured .content .Women’sandOthers .others .cards .Perfume .details p {
  font-size: 14px;
}
.Featured .content .Women’sandOthers .others .cards .Perfume .details .shop {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .Featured .content {
    flex-direction: column;
    align-items: center;
  }
  .Featured .PlayStation,
  .Featured .Women’sandOthers {
    width: 100%;
    max-width: 570px;
  }
}
@media (max-width: 767px) {
  .Featured .PlayStation {
    height: 350px;
  }
  .Featured .Women’s {
    height: 220px;
  }
  .Featured .others .content {
    gap: 15px;
  }
  .Featured .Speakers,
  .Featured .Perfume {
    width: calc(50% - 8px);
    height: 180px;
  }
  .Featured .details h1 {
    font-size: 18px;
  }
  .Featured .details p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .Featured .PlayStation {
    height: 280px;
  }
  .Featured .Women’s {
    height: 180px;
  }
  .Featured .others .content {
    flex-direction: column;
    gap: 15px;
  }
  .Featured .Speakers,
  .Featured .Perfume {
    width: 100%;
    height: 160px;
  }
  .Featured .details {
    margin-left: 15px !important;
  }
  .Featured .details h1 {
    font-size: 16px;
  }
  .Featured .details p {
    font-size: 11px;
  }
  .Featured .shop {
    font-size: 12px;
  }
}
.ForYou .title h1 {
  position: relative;
  margin-left: 35px;
}
.ForYou .title h1::before {
  content: "";
  position: absolute;
  background-color: #DB4444;
  height: 40px;
  width: 20px;
  bottom: -10px;
  left: -36px;
  border-radius: 5px;
}

.mainCart {
  margin: 100px 0;
}
.mainCart .Link .LinkHome {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.7058823529);
  margin-right: 10px;
}
.mainCart .Link .LinkCart {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.sectionCategories {
  position: relative;
  margin: 100px 0;
  background: #000000;
  color: white;
}

@media (max-width: 768px) {
  .sectionCategories .glow {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.app {
  height: 100vh;
}

/*# sourceMappingURL=App.css.map */
